<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodsMapper">

    <select id="selectAll" resultType="com.example.entity.Goods">
        select goods.*, category.name as categoryName, supplier.name as supplierName from goods
        left join category on goods.category_id = category.id
        left join supplier on goods.supplier_id = supplier.id
        <where>
            <if test="name != null">and goods.name like concat('%', #{name}, '%')</if>
        </where>
        order by id desc
    </select>

    <update id="updateById" parameterType="com.example.entity.Goods">
        update goods
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="supplierId != null">
                supplier_id = #{supplierId},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="count != null">
                count = #{count},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>